body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Slab", serif;
    line-height: 28px;
}

p {
    color: grey;
    letter-spacing: 1px;
}

.header__box {
    text-align: center;
    padding: 25px;
}

.header__photo {
    border-radius: 50%;
}

.header__navigation {
    display: flex;
    justify-content: center;
}

.header__navigation__list {
    list-style-type: none;
}

.header__navigation__list__link {
    text-decoration: none;
    padding: 15px;
    color: gray;
}

.header__vertical__line {
    border-right: 1px solid grey;
}

.bold__line {
    border-width: 2px;
}

.bold__text {
    color: #000;
}

.main__title {
    color: gray;
    font-weight: lighter;
    font-size: 900;
}

.text {
    color: gray;
    letter-spacing: 1px;
}

.footer__box {
    margin-top: 100px;
}

.footer__text {
    text-align: center;
    color: #000;
}
