body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: "Roboto Slab", serif;
    line-height: 1.8em;
}

p {
    color: grey;
    letter-spacing: 1px;
}

.header__box {
    text-align: center;
    padding: 25px;
}

.header__photo {
    border-radius: 50%;
}

.header__address__list__link {
    text-decoration: none;
    padding: 10px;
    color: gray;
}

.header__vertical__line {
    border-right: 1px solid rgb(190, 188, 188);
}

.bold__line {
    border-width: 2px;
}

.bold__text {
    color: #000;
}

.main__title {
    color: gray;
    font-weight: lighter;
    font-size: 900;
}

.text {
    color: gray;
    letter-spacing: 1px;
}

.footer__box {
    margin-top: 100px;
}

.footer__text {
    text-align: center;
    color: #000;
}
